<!DOCTYPE html>
<html lang="fr">


<head>
    <title>Login Page</title>
</head>
<body>
    <header>
        <nav>
            <ul style="list-style:none">
                <li>
                    <a href="/Home/">Home</a>
                </li>
                <li>
                    <a href="/Home/Contact">Contact</a>
                </li>
                <li>
                    <a href="/Auth/Register">Register</a>
                </li>
                <li>
                    <a href="/Auth/Login">Login</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Login</h1>

        <form method="POST">
            <label for="email">Login:</label><br>
            <input type="email" id="email" name="email"><br>

            <label for="password">Password:</label><br />
            <input type="password" id="password" name="password"><br>
            <br />

            <input type="submit" />
        </form>
    </main>






    @* @using (Html.BeginForm()) *@
    @* { *@
    @*     <div> *@
    @*         Login: <input type="login" id="Login" value="" /> *@
    @*     </div> *@
    @*     <div> *@
    @*         Password: <input type="password" id="Password" value="" /> *@
    @*     </div> *@
    @*     <div> *@
    @*         <button type="submit">Login</button> *@
    @*     </div> *@
    @* } *@



 
</body>
</html>
