@{
    Layout = "_LayoutLite";
    //_LayoutLite references the _LayoutLite.cshtml that is indexer the shared views folder
}
@using MiniExoASP17Jan2025.Models.Auth
@model LoginForm
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@* <!DOCTYPE html> *@
@* <html lang="fr"> *@


@* <head> *@
@*     <title>@ViewData["Title"]</title> *@
@*     <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
@*     <link rel="stylesheet" type="text/css" href="/css/site.css" /> *@
@* </head> *@
@* <body> *@
@*     <header> *@
@*         <nav> *@
@*             <ul style="list-style:none"> *@
@*                 <li><a href="/Home/">Home</a></li> *@
@*                 <li><a href="/Home/Contact">Contact</a></li> *@
@*                 <li><a href="/Auth/Register">Register</a></li> *@
@*                 <li><a href="/Auth/Login">Login</a></li> *@
@*             </ul> *@
@*         </nav> *@
@*     </header> *@
@*     <main> *@
        <section>
            <h1>Login</h1>
            @if(TempData.ContainsKey("message")){
                <div style="width:80%; margin:0 auto; border:1px solid red; border-radius:15px; padding : 15px; color:blue;">
                    <p>@TempData["message"]</p>
                </div>
            }
            <form method="post" class="col-6 container-md" asp-action="Login" asp-controller="Auth">
                <div>
                    <label asp-for="Email" class="form-label">Login:</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Password" class="form-label">Password:</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-success">Connect!</button>
            </form>
        </section>
        @* <form method="POST"> *@
        @*     <label for="email">Login:</label><br> *@
        @*     <input type="email" id="email" name="email"><br> *@

        @*     <label for="password">Password:</label><br /> *@
        @*     <input type="password" id="password" name="password"><br> *@
        @*     <br /> *@

        @*     <input type="submit" /> *@
        @* </form> *@
    @* </main> *@






    @* @using (Html.BeginForm()) *@
    @* { *@
    @*     <div> *@
    @*         Login: <input type="login" id="Login" value="" /> *@
    @*     </div> *@
    @*     <div> *@
    @*         Password: <input type="password" id="Password" value="" /> *@
    @*     </div> *@
    @*     <div> *@
    @*         <button type="submit">Login</button> *@
    @*     </div> *@
    @* } *@



 
@* </body> *@
@* </html> *@
