@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <h1>Êtes-vous sûr de vouloir vous déconnecter ?</h1>
    <form method="post">
        <button class="btn btn-dark">Se déconnecter</button> | <a asp-action="Index" asp-controller="Home" class="btn btn-secondary">Revenir en lieu sûr</a>
    </form>
</div>