@{
    string address = "Rue Gaucheret 88, 1030 Bruxelles";
    string tel = "+32 (0)2 219 15 10";

}


<!DOCTYPE html>
<html lang="fr">


<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <nav>
            <ul style="list-style:none">
                <li>
                    <a href="/Home">Home</a>
                </li>
                <li>
                    <a href="/Home/Contact">Contact</a>
                </li>
                <li>
                    <a href="/Auth/Register">Register</a>
                </li>
                <li>
                    <a href="/Auth/Login">Login</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Reach Interface3</h1>

        <h3>By the post:</h3>
        <address>@(address)</address>
        <br />
        <h3>By email:</h3>
        <p>info@@interface3.be</p>
        <br />
        <h3>By Phone:</h3>
        @* <p>+32 (0)2 219 15 10</p> *@
        <p>@tel</p>
    </main>
    <footer></footer>
</body>
</html>
