<!DOCTYPE html>
<html lang="fr-be">


<head>
    <meta charset="utf-8" />
    <meta name="viewport content="width="device-width, initial-scale=1" />
    <title>Index Page</title>
</head>

<body>
    <header>
        <nav>
            <ul style="list-style:none">
                <li>
                    <a href="/Home/Contact">Contact</a>
                </li>
                <li>
                    <a href="/Auth/Register">Register</a>
                </li>
                <li>
                    <a href="/Auth/Login">Login</a>
                </li>
            </ul>
        </nav>
    </header>
    <h1>Welcome!</h1>



</body>
</html>

